.message{"data-message-id": "#{message.id}"}
  .message-box
    .message-box__person
      = message.user.name
    .message-box__person--timestamp
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    .message-box__text
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
